body{
   background-color: #cce6d5;
}

header h1{
    text-align: center;
    color: #d40a0a;
    font-family: 'Algerian';
}
header nav ul {list-style: none;}

header button a{
color: FF0000;
text-decoration: none;
padding: 20px;
font-size: 20px;
text-decoration: none;
} 


header button a: hover{
	background-color: #ff4500;
}

.nombres p{
	font-size: 25px;
	color: #black;
	text-align: center;
	padding: 20px;
}



.nombres ul li{
	text-align: center;
	margin: 30px auto;
	list-style: none;
}



h5{
	text-align: center;
	padding-top: 50px;
	margin: 100px;
	font-size: 35px;
	font-family: 'Algerian';
	color: #084c4e;
}

button:hover{
	background-color: #ff0000;
}
.nombres{text-align: center;}

figure {
	list-style: none;
	margin: 0;
	position: relative;
	display: inline-flex;
	padding-top: 10px;
	text-align: center;
}

figure:hover{
	background:#ffff00;
}

.pie{
	background-color: #336666;
	text-align: center;
	color: #ccc;
	font-size: 20px;
	font-family: 'Gill Sans Ultra Bold';
	margin: 15px;
	max-width: 100%;
}
