body  {background-color: #00FF7F;}
{margin: 0;
padding: 0;}
body h1 {
   text-align: center;
   color: #b22222 ; 
}

.biografia h3{
   text-align: center;
   color:FF0000 #;
}

.biografia H5{
   text-align: center;
   color: #000000;
}
figure img{
   list-style: none;
   margin: 0;
   text-align: center;
}
.biografia h3 {
   text-align: center;
   color: #FF0000;
}
.biografia h5 {
   text-align: center;
   color: #000000;
}

.biografia h3 {
   text-align: center;
   color: #FF0000;
}
.biografia h5 {
   text-align: center;
   color: #000000;
}